.topNav {
  margin: 5vh 10%;
  align-items: center;
  width: 80%;
  display: flex;
  justify-content: space-between;
}

.topNav strong {
  font-size: 1.5rem;
  color: var(--color);
}

.topNav nav {
  display: flex;
  gap: 0 3rem;
  align-items: center;
}

.topNav nav div a {
  font-size: 1.05rem;
  color: var(--color);
}

.topNav nav div a small {
  display: block;
  width: 5px;
  height: 5px;
  transition: 0.3s ease;
  opacity: 0;
  background: var(--theme);
}

.topNav nav div a:hover small {
  opacity: 1;
  width: 100%;
}

.topNav nav div {
  display: flex;
  gap: 0 1rem;
}

.topNav nav button {
  background: var(--color);
  color: var(--primary-text);
  padding: 10px;
  border-radius: 3px;
}

.topNav nav button a {
  color: var(--primary-text);
}

.topNav p {
  width: 70px;
  height: 30px;
  border-radius: 40px;
  border: 2px solid var(--color);
  position: relative;
  display: flex;
  cursor: pointer;
}

.topNav p small {
  height: 28px;
  width: 28px;
  background: var(--color);
  border-radius: 50%;
  position: absolute;
  top: 1px;
  left: 1%;
  transition: 0.3s ease;
}

.topNav p small.dark {
  left: calc(98% - 28px);
}

footer {
  background: black;
  min-height: 30vh;
  width: 80%;
  padding: 0 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem 0;
}
footer .iconBox{
  display: flex;
  gap: 2rem;
  justify-content: space-around;
  flex-wrap: wrap;
}
footer .iconBox a{
  color: var(--send);
  font-size: 2rem;
}

@media all and (max-width:1550px) {
  .topNav{
    width: 90%;
    margin: 5vh 5%;
  }
}
@media all and (max-width:750px) {
.topNav {
  flex-direction: column;
}

.topNav nav {
  gap: 1rem 0;
  flex-direction: column;
}
}